/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       height: 100%;
       background-color: olive;
    /*   background-image: url("drone.jpg"); */

    }
    .img1{
      height: ;
      width: ;
    }

    header {
        background-color: khaki;
        padding:15px;
        font-size: 24 ;
        color: darkgreen;
        display: block;
        width: 980px;
        border: 15px solid green;
        text-align: center;
    }
    nav {
      /*  line-height:; */
        background-color: #ff8724;
        width:125px;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        height: auto;
        background-color: #c2966d;
        width: 420px;
        display: inline-block;
        vertical-align: top;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 946px;
        background-color: khaki;
        padding:30px;
        display: block;

        border: 15px solid green;
  color: darkgreen;
        text-align: center;
        font-size:32;
}








    }
